# Monday.com
MONDAY_API_TOKEN=
MONDAY_WEEKLY_BOARD_ID=1901011628
MONDAY_LEAD_BOARD_IDS=3126575269,3126575612,3126577988,3126579902,3126587413,3190959132,6680201428
MONDAY_COL_START_DATE=date__1
MONDAY_COL_LEAD_GEN=numeric1__1
MONDAY_COL_WAU=__
MONDAY_COL_CONTACT_USERS=dup__of_______
MONDAY_COL_G_IMPRESSIONS=___1
MONDAY_COL_G_CLICKS=___2
MONDAY_COL_G_COST=dup__of____
MONDAY_COL_WOW_CONVERSION=status
MONDAY_COL_WOW_GCTR=dup__of_____
MONDAY_COL_N_IMPRESSIONS=dup__of_g___4
MONDAY_COL_N_CLICKS=dup__of____3
MONDAY_COL_N_COST=dup__of_g___6
MONDAY_COL_WOW_NCTR=dup__of_____2
MONDAY_COL_N_BLOG_POSTS=dup__of________
MONDAY_COL_N_BLOG_VIEWS=dup__of_naver_____
MONDAY_COL_WOW_NAVER=dup__of_____4

# GA4
GA4_PROPERTY_ID=
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# Google Ads
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=4692622227
GOOGLE_ADS_CUSTOMER_ID=4717848584

# 네이버 검색광고
NAVER_ADS_API_KEY=
NAVER_ADS_SECRET_KEY=
NAVER_ADS_CUSTOMER_ID=

# 네이버 블로그
NAVER_LOGIN_ID=
NAVER_LOGIN_PW=
NAVER_BLOG_ID=

# Gmail
# GMAIL_RECIPIENT은 여러 명에게 보내려면 콤마로 구분 (예: a@x.com,b@y.com,c@z.com)
GMAIL_SENDER=
GMAIL_APP_PASSWORD=
GMAIL_RECIPIENT=
